<script type="text/javascript">
  $(function(){

      // categories for choosing background
      // choose background view
      // Enter message view
      // Enter email addresses view (From FB ?)
      // (SAVE) dialog if leave page.

  });
</script>

<div class="container">
  <div id="hanger" class="row">

  </div>

</div>
