<!DOCTYPE HTML>
<html lang="en">
  <head>
<script type="text/javascript" src='/javascript/app.js'></script>
<link rel="stylesheet" href="/css/app.css" />
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
