<button id='cancel'><i class='icon-arrow-left'></i> Choose Another... </button>
<div class='row'>
<div class='span8'>
<img src='<%= public_url %>'>
</div>
<div class='span4'>
<button id='save'>Save Card</button>

various controls...

</div>
</div>
