<h3>Choose a background</h3>

<select id='bg_types'>
<option value="0">Select a theme</option>
<option value='1'>Dogs with Sunglasses</option>
<option value="2">Birthday</option>
<option value="3">Ironic</option>
<option value="4">Meme</option>
</select>

<div id="background_place">
</div>
